<!DOCTYPE html>
<html lang="en">

<head>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop_in.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Makers BnB</title>
</head>

<body>
  <header>
    <h1><a href="/">Makers BnB</a></h1>
    </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>Let us MAKERS your holiday</p>
  </footer>
</body>
</html>