
  <form action='/messages/<%=session[:recipient_id]%>/send' method='post'>
    <label for='message'>Message:</label> <input type='text' name='message'>
    <input type='submit' name='Send'>
  </form>
