
<body>
    <form action='/listing/<%= @listing.listing_id %>/availability' method= 'post'>
        <label for='start_date'>Start date (YYYY-MM-DD): </label><input type='text' name='start_date'> 
        <label for='end_date'>End date (YYYY-MM-DD): </label><input type='text' name='end_date'> 
        <input type='submit' value='Submit'>
    </form>
</body>