<body>
  <form action='/listing/<%=@listing.listing_id%>' method='post'>
    <input type='hidden' name='_method' value='patch'>
    <label for='name'>Name:</label> <input type='text' name='name'>
    <label for='country'>Country:</label> <input type='text' name='country'>
    <label for='city'>City:</label> <input type='text' name='city'>
    <label for='sleeps'>Sleeps:</label> <input type='number' id='sleeps' name='sleeps' min='1'>
    <label for='bedrooms'>Bedrooms:</label><input type='number' id='bedrooms' name='bedrooms' min='1'>
    <label for='bathrooms'>Bathrooms:</label><input type='number' id='bathrooms' name='bathrooms' min='1'>
    <label for='description'>Description:</label><input type='text' name='description'>
    <label for='type'>Type:</label>
      <select name='type' id='type'>
        <option value='House'>House</option>
        <option value='Appartement'>Appartement</option>
        <option value='House Boat'>House Boat</option>
        <option value='Studio'>Studio</option>
        <option value='Villa'>Villa</option>
        <option value='Hotel'>Hotel</option>
        <option value='Castle'>Castle</option>
        <option value='Bangalo'>Bungalo</option>
      </select>
    <input type='submit' name='Submit'>
  </form>
</body>