<%=flash[:username_exists_warning]%>
<%=flash[:email_warning]%>
////FIRST NAME IS RENAMED TO NAME TEMPORARILY
<body>
  <form action='/users/new' method='post'>
    <label for='name'>First name:</label><input type='text' name='name'>
    <label for='last_name'>Last name:</label><input type='text' name='last_name'>
    <label for='username'>Username:</label><input type='text' name='username'>
    <label for='email'>Email address:</label><input type='text' name='email'>
    <label for='password'>Password:</label><input type='text' name='password'>
    <label for='confirm'>Confirm password:</label><input type='text' name='confirm'>
    <input type='submit' value='Submit'>
  </form>
  <form action='/'>
    <input type='submit' value='Cancel'>
  </form>

</body>
